<div class="vision25-shell">
  {% include '@vision25/layout/vision25-site-header.html.twig' with { nav_id: 'vision25-primary-nav-404' } %}

  <main class="vision25-main vision25-not-found" role="main">
    <a id="main-content" tabindex="-1"></a>
    <section class="vision25-not-found__panel">
      <h1 class="vision25-not-found__title">404</h1>
      <p class="body-large vision25-not-found__message">{{ 'Oops! Page not found'|t }}</p>
      <a class="vision25-not-found__link" href="{{ front_page }}">{{ 'Return to Home'|t }}</a>
    </section>
  </main>
</div>
