<section class="vision25-not-found__panel">
  <h1 class="vision25-not-found__title">404</h1>
  <p class="body-large vision25-not-found__message">{{ 'Oops! Page not found'|t }}</p>
  <a class="vision25-not-found__link" href="{{ front_page }}">{{ 'Return to Home'|t }}</a>
</section>
