<section{{ attributes.addClass('vision25-interlude') }} data-scroll-reveal>
  <div class="vision25-interlude__media"><img src="{{ image_url }}" alt="{{ image_alt }}"></div>
  <div class="vision25-interlude__overlay"></div>
</section>
